$main-padding: 1.5rem;
$main-background: #444;

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	background-image: url("../images/sky.jpg");
	/* background-size: 100vw 100vh; */
	background-size: contain;
	color: #ccc;
	font-family: sans-serif;
	padding: $main-padding;

	div.modules {
		background: navy;
		margin-bottom: 1rem;
	}

	h1 {
		margin-bottom: $main-padding;
		background-color: $main-background;
	}

	div.content {
		article {
			background-color: $main-background;
			margin-bottom: $main-padding;
			padding: $main-padding;
			border-radius: .5rem;
			font-size: 20rem;

			h2 {
				color: rgb(206, 174, 114);
				font-size: 1.2rem;
				margin-bottom: $main-padding;
			}

			p {
				margin-bottom: $main-padding;
				font-size: 1.2rem;
				line-height: 1.4em;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}